P 
{font-family:Arial,Helvetica;font-size:11px;color:#666666;}

.header 
{font-family:Arial,Helvetica;font-size:14px;color:#696969;font-weight:BOLD;}

body 
{font-family:Arial,Helvetica;font-size:11px;color:#666666;}

td 
{font-family:Arial,Helvetica;font-size:11px;color:#666666;}

th 
{font-family:Arial,Helvetica;font-size:14px;color:#696969}

TD.Normal 
{font-family:Arial,Helvetica;font-size:11px;color:#666666; }

TH.Normal 
{font-family:Arial,Helvetica;font-size:11px;color:#666666; }

