@import url('https://fonts.googleapis.com/css?family=Quattrocento Sans:300,400,500,600,700');

* {font-family: arial, helvetica, sans-serif;}

body {
	margin: 0px;
	padding: 0px;
}

body, td, p, div, ul, li {
	font-size: 11px;
	line-height: 16px;
	color: #000000;
}

th {
	background-color: #000000;
	color: #FFFFFF;
}

th a, th a:link, th a:visited, th a:active, th a:hover {
	color: #FFFFFF;
}

.tr_light
{
	background-color: #FFFFFF;
}

.tr_dark
{
	background-color: #dedede;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
	margin-bottom: 7px;
}

h2 {
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
}

h3 {
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
}

form, input, select {
	margin: 0px;
	padding: 0px;
	font-size: 11px;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

a, a:link, a:active, a:visited, a:hover {
	color: #336699;
}

a:hover {
	text-decoration: none;
}

#sitediv {
	margin: 0px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
	background: url(../images/bkgd_content.gif) top center repeat-y;
}

#bodydiv {
	margin: 0px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	border-bottom: 1px solid #525A5F;
	border-top: 0px;
	text-align: left;
}

#header {
	margin: 0px;
	padding: 0px;
	line-height: 0px;
	background: #fff;
	/*height: 100px;*/
	height: 132px !important;
}

.header-logo a {

}

#logo {
	float: left;
	display: inline;
	height: 45px;
	width: 150px;
}

#msgCenter
{
	text-align:center; 
	height:45px;	
	margin-top: 5px; 
	float:left;
	display:inline;
	margin-left:20px; 
	margin-right:0px; 

	/* border:1px solid red; */
	overflow-x:hidden; 
	overflow-y:auto}

#headerControl_lblSPDAppMessage {
	color:Navy;
	font-family:Arial;
	font-size:small;
	font-style:italic;
}

#search 
{
    width:150px;
	height:45px;
	float: right;
	display: inline;
	margin-top: 10px;
	margin-right: 10px; 
	font-size: 10px;
}
#search a, #search a:active, #search:link
{
	color: #000000;
	text-decoration: underline;
}
#search a:hover
{
	color: #0000ff;
	text-decoration: underline;
}

#ItemSearch
{
	background-color: #dedede;
	padding: 3px 10px 3px 10px;
}
/*
#TaskTabs 
{
	margin: 0px;
	padding-left: 5px;
	background-color:lightyellow;
}

#TaskTabs span
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom:3px;
	background-color:DarkOliveGreen;
}

#TaskTabs span a
{
	color:white;
}
*/

#navigation {
	margin: 0px;
	padding: 0px;
	background-color: #cf202f !important;
	height: 42px !important;
	min-height: 42px;
}

#navigation ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#navigation ul li {
	background-color: #cf202f !important;
	border-right: 1px solid #fff;
	/*color: #fff !important;*/
	margin: 0 0 0 0px;
	padding: 0px 10px 0 10px;
	float: left;
	display: block;
	vertical-align: top;
	text-decoration: none;
	line-height: 2rem;
	font-size: 0.875rem;
	height: 42px !important;
	min-height: 42px !important;
}

@media screen and (min-width: 640px), screen\9 {

}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

}

#navigation ul li.first {
	border-left: 1px solid #fff;
}

#navigation ul li:hover {
	background-color: #333 !important;
}

#navigation a, #navigation a:link, #navigation a:hover, #navigation a:visited {
	color: #eee !important;
	font-weight: bold !important;
	text-decoration: none !important;
}

#navigation ul li:hover {
	background-color: #333 !important;
	color: #eee;
}

#submissiondetail {
	border: 1px solid #cecece;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	background-color: #dedede;
	/*width: 776px;*/
	width: 100%;
}
#submissiondetail hr
{
	color: #A2A077;
	height: 1px;
}

#detailframe {
	margin: 0px;
	padding: 2px;
	line-height: 0px;
	border: 1px solid #cecece;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	background-color: #dedede;
	text-align: center;
}

#shadowtop {
	margin: 0px;
	padding: 0px;
	height: 7px;
	line-height: 7px;
	/*background: #FFFFD6 url(../images/bkgd_shadow_top.gif) top left repeat-x;*/
}

#shadowbottom {
	margin: 0px;
	padding: 0px;
	height: 7px;
	line-height: 7px;
	/*background: #FFFFD6 url(../images/bkgd_shadow_bottom.gif) bottom left repeat-x;*/
}

#shadowbottom1 {
	margin: 0px;
	padding: 0px;
	height: 15px;
	line-height: 7px;
	/*background: #FFFFFF url(../images/bkgd_shadow_bottom.gif) bottom left repeat-x;*/
}
#Shadowbottom2 {
	margin: 0px;
	padding: 0px;
	height: 10px;
	line-height: 7px;
	/*background: #FFFFFF url(../images/bkgd_shadow_bottom.gif) bottom left repeat-x;*/
}

#content {
	margin: 0px;
	padding: 0px;
	background-color: #dedede;
}

#main {
	margin: 0px;
	padding: 0px;
}

#login {
	width: 357px;
	height: 218px;
	margin: 0px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	background: #F1F1E7 url(../images/bkgd_login.gif) no-repeat;
	border: 1px solid #F1F1E7;
}

#logincontent {
	margin: 0px;
	padding: 0px;
	margin-top: 54px;
	margin-left: 41px;
	margin-bottom: 0px;
	margin-right: 0px;
	text-align: left;
}

#welcome {
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
	font-weight: bold;
	float: left;
	display: inline;
}

#findshow {
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
	font-weight: bold;
	float: right;
	display: inline;
}

#footer {
	margin: 0px;
	padding: 5px;
	font-size: 9px;
	line-height: 9px;
	background-color: #cf202f !important;
	color: #fff;
}

#footer form {
	font-size: 9px;
}

.smaller {
	font-size: 10px;
}

.spacer {
	clear: both;
}

.formGroupLabel
{
	color: #696969;
	font-size: 11px;
	font-weight: bold;
}
.formLabel
{
	overflow: hidden;
	clip: auto;
}
.formField
{
	clip: auto;
}
.formField input, .formField select, .formField textarea
{
	padding-left: 2px; padding-right: 2px;
}

.calculatedField
{
	background-color: #eee8aa;
}
.sevError
{
	color: #993300;
}
.sevWarning
{
	color: Navy;
}
.sevInfo
{
	color: Darkgreen;
}
/* Following added by Jeff L Nov 2009 */
.textBoxPad 
{
    padding-left:2px;
}

.caption 
{
	font-size:larger; 
	font-style:italic;
	font-weight:bold; 
	color:black; 
	float:left;
}
.gridTitle 
{
	float:left; 
	width:100%; 
	padding: 3px 0px 0px 0px;/* #dedede; */
}
/* Float Defs for Divs and Spans */
.floatLeft
{
	float:left;
}
.floatRight 
{
	float:right
}
.clearBoth 
{
	 clear:both;
}

a.pager 
{
	font-size: 14px;
	color:White;
	background-color:Black;
}
span.pager 
{
	font-size: 12px;
	display:inline-block;
	text-align:center;
	color:White;
	background-color:Black;
}	
/* End Jeff L add */

/***************************/
/***** FROM GLOBAL.CSS *****/
/***************************/

SELECT {font-family: Arial, Helvetica; color:#000;}
TEXTAREA {font-family: Arial, Helvetica; font-size:11px; color:#000;}
UL {list-style: square; margin-left: 20px;}

.headerText
{
	font-family: Arial, Helvetica;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	color: #000;
}

.subheaderText
{
	font-family: Arial, Helvetica;
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	color: #000;
}

.bodyText
{
	font-family: Arial, Helvetica;
	font-size: 11px;
	line-height: 14px;
	color: #000;
}
TH colHdrLabels
{
	background: #dedede;
	color: #000000;
}
.colHdrLabels a, .colHdrLabels a:link, .colHdrLabels a:visited, .colHdrLabels a:active, .colHdrLabels a:hover
{
	color: #000000;
}
.colHdrLabels
{
	vertical-align: bottom;
	padding-bottom: 2px;
	padding-top: 2px;
	background: #dedede;
	color: #000000;
}

.colHdrInfoLabels
{
	font-family: Arial, Helvetica;
	font-size: 11px;
	line-height: 12px;
	color: #666;
	background: #FFDA90;
}

.colHdrLabels_Yellow
{
	background: #FFF0B5;
}

.colHdrLabels_Green
{
	background: #C0DCB4;
}
.colHdrLabels_Red
{
	background: #D8A386;
}

.dataText
{
	font-family: Arial, Helvetica;
	font-size: 11px;
	line-height: 20px;
	color: #333;
	clip: auto;
	overflow: hidden;
	text-overflow: ellipsis;
}
.dataText A {text-decoration: none; color: #333;}
.dataText A:HOVER {text-decoration: underline; color: #00f;}

.right
{
	text-align: right;
}
.rover * {background: navy; color: #fff;}
.rover A {text-decoration: none; color: #fff;}
.rover A:HOVER {text-decoration: underline; color: #ff0;}

INPUT.dataText
{
	padding-top: 0;
	padding-bottom: 0;
	line-height: 16px;
	border: 1px solid #ccc;
}
		
SELECT.dataText
{
	padding-top: 0;
	padding-bottom: 0;
	line-height: 12px;
	height: 14px;
	border: 0 !important;
}

#divTop
{
	padding: 0px;
	margin: 0;
	position: absolute;
	top: 0px;	
	left: 0px;
	width: 100%;
	height: 100px;
	clip: auto;
	overflow: hidden;
}

#settingsDiv
{
	width: 700px;
	height: 805px;
	padding: 10px;
	position: relative;
}

/*
#settingsFrame
{
	width: 700px;
	height: 570px;
}
*/

#itemdetail {
	border: 1px solid #cecece;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	background-color: #dedede;
	/*width: 776px;*/
	width: 100%;
}

#lblSubHeading
{
	color: #696969;
}
.subHeading
{
	background-color: #dedede;
	padding-left: 5px; 
	padding-right: 5px;
}

.formButtonMO 
{
	height: 17px;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 2px;
	font-size: 10px;
	line-height: 10px;
	vertical-align: top;
	background-color: lightgray;
	font-weight: bold;}

.formButton, input .formButton
{
	height: 17px;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 2px;
	font-size: 10px;
	line-height: 10px;
	vertical-align: top;
	background-color: #ffffff;
	font-weight: bold;
}
.detailFooter
{
	background-color: #000;
	color: #fff;
}
.greenText {color: #006633;}
.greenTextBold {color: #006633; font-weight: bold; padding-left: 2px;}
.yellowText {color: #FFFF00;}
.yellowTextBold {color: #FFFF00; font-weight: bold;}
.pinkText {color: #FF99CC;}
.pinkTextBold {color: #FF99CC; font-weight: bold;}
.blueText {color: #99CCFF;}
.blueTextBold {color: #99CCFF; font-weight: bold;}
.purpleText {color: #9932cc;}
.purpleTextBold {color: #9932cc; font-weight: bold; padding-left: 2px;}
.redText {color: red;}
.redTextBold {color: red; font-weight: bold; padding-left: 2px;}
.navyText {color:Navy;}
.navyTextBold {color: Navy; font-weight: bold; padding-left: 2px;}
.whiteText {color: #FFF;}
.whiteTextBold {color: #FFF; font-weight: bold; padding-left: 2px;}

.canvasBG 
{
	/*background: #F1F1E7 url(../images/bkgd_canvas.gif);*/
}

.validationDisplay
{
	border-right: #993300 1px solid;
	border-top: #993300 1px solid;
	padding: 5px;
	border-left: #993300 1px solid;
	border-bottom: #993300 1px solid;
	margin-bottom: 5px;
	width: 580px;
	margin-right: 50px;
	max-height: 205px;
	overflow-y: auto;
	scrollbar-face-color: #d3d3a3; 
    scrollbar-arrow-color: #A2A077; /*#993300; */
    scrollbar-track-color: #E7E7B7; 
    scrollbar-shadow-color: #dedede; 
    scrollbar-highlight-color: #dedede; 
    scrollbar-3dlight-color: #dedede; 
    scrollbar-darkshadow-Color: #D2D2A2;
	
}

.formTextBox
{
	width: 150px;
}

.tabItemHeader
{
	width: 109px; 
	height: 24px; 
	text-align: right; 
	font-size: 12px;
	font-weight: 700;
	vertical-align: bottom; 
	padding-bottom: 3px; 
	padding-right: 8px;
	cursor: pointer;
	background-color: #cacaca;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top: 1px solid #858585;
	border-right: 1px solid #858585;
	border-bottom: 1px solid #858585;
	border-left: 1px solid #858585;
}
.tabItemHeaderOn { border-bottom: 1px solid #fff; background-color: #fff !important; }
.tabItemHeaderOff { }
.tabItemHeader:hover, .tabItemHeaderOn:hover, tabItemHeaderOff:hover {
	background-color: #eee !important;
}
.tabItemDetail
{
	width: 100px; 
	height: 24px; 
	text-align: right; 
	font-size: 12px;
	font-weight: 700;
	vertical-align: bottom; 
	padding-bottom: 3px; 
	padding-right: 8px;
	cursor: pointer;
	background-color: #cacaca;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top: 1px solid #858585;
	border-right: 1px solid #858585;
	border-bottom: 1px solid #858585;
	border-left: 1px solid #858585;
}
.tabItemDetailOn { border-bottom: 1px solid #fff; background-color: #fff !important; }
.tabItemDetailOff {  }
.tabItemDetail:hover, .tabItemDetailOn:hover, tabItemDetailOff:hover {
	background-color: #eee !important;
}

/*******************************************************/
/*	PO Pages Headers								   */
/*******************************************************/
.tabPOHeader
{
	width: 100px; 
	height: 24px; 
	text-align: right; 
	font-size: 12px;
	font-weight: 700;
	vertical-align: bottom; 
	padding-bottom: 3px; 
	padding-right: 8px;
	cursor: pointer;
	background-color: #cacaca;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top: 1px solid #858585;
	border-right: 1px solid #858585;
	border-bottom: 1px solid #858585;
	border-left: 1px solid #858585;
}

a.tabPOTextActive
{
	width: 100px; 
	height: 24px; 
	text-align: right; 
	font-size: 12px;
	font-weight: 700;
	vertical-align: bottom; 
	padding-bottom: 2px; 
	padding-right: 8px;
	padding-top: 7px;
	cursor: pointer;
	/*background-color: #cacaca;*/
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top: 1px solid #858585;
	border-right: 1px solid #858585;
	/*border-bottom: 1px solid #858585;*/
	border-left: 1px solid #858585;
    border-bottom: 1px solid #fff; background-color: #fff !important;
}

a.tabPOText
{
    width: 100px; 
	height: 24px; 
	text-align: right; 
	text-decoration: none;
	font-size: 12px;
	font-weight: 700;
	vertical-align: bottom; 
	padding-bottom: 2px; 
	padding-right: 8px;
	padding-top: 7px;
	cursor: pointer;
	background-color: #cacaca;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top: 1px solid #858585;
	border-right: 1px solid #858585;
	border-bottom: 1px solid #858585;
	border-left: 1px solid #858585;
}

a.tabPOText:hover
{
    background-color: #eee !important; 
}

.tabPOHeaderOn { border-bottom: 1px solid #fff; background-color: #fff !important; }
.tabPOHeaderOff {  }
.tabPOHeader:hover, .tabPOHeaderOn:hover, tabPOHeaderOff:hover {
	background-color: #eee !important;
}

.tabPODetail
{
	width: 90px;
	height: 24px; 
	text-align: right; 
	font-size: 12px;
	font-weight: 700;
	vertical-align: bottom; 
	padding-bottom: 3px; 
	padding-right: 8px;
	cursor: pointer;
	background-color: #cacaca;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top: 1px solid #858585;
	border-right: 1px solid #858585;
	border-bottom: 1px solid #858585;
	border-left: 1px solid #858585;
}
.tabPODetailOn { border-bottom: 1px solid #fff; background-color: #fff !important; }
.tabPODetailOff {  }
.tabPODetail:hover, .tabPODetailOn:hover, tabPODetailOff:hover {
	background-color: #eee !important;
}

/*******************************************************/
/*** duplicate item and options popup and addToBatch and StockStratHelper ***/
/*******************************************************/

#dupItem, #opBox, #addToBatch, #StockStratHelper
{
	font-family: Arial, Helvetica;
	background: #dedede;
}
#dupItemContent, #opBoxContent, #addToBatchContent, #StockStratHelperContent
{
}
#dupItemHeader, #opBoxHeader, #addToBatchHeader, #StockStratHelperHeader
{
	background: #000000;
	color: #ffffff;
	padding-left: 3px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-weight: bold;
}
#dupItemColumn, #opBoxColumn, #addToBatchColumn
{
	font-family: Arial, Helvetica;
	font-weight: bold;
}
.dupItemBG, .opBoxBG, .addToBatchBG, .StockStratHelperBG
{
	background: #d3d3a3;
}
.dupItemRow, .opBoxRow, .addToBatchRow, .StockStratHelperRow
{
	font-family: Arial, Helvetica;
	background: #dedede;
}
.dupItemFooter, .opBoxFooter, .StockStratHelperFooter
{
	font-family: Arial, Helvetica;
	background: #dedede;
}
.dupItemFooter .formButton, .dupItemFooter input .formButton, .opBoxFooter .formButton, .opBoxFooter input .formButton, .StockStratHelperFooter input .formButton
{
	font-family: Arial, Helvetica;
	height: 17px;
	padding-left: 1px;
	padding-right: 1px;
	padding-bottom: 2px;
	font-size: 10px;
	line-height: 10px;
	vertical-align: top;
	background-color: #ffffff;
	font-weight: bold;
}
.dupItemMessage, .opBoxMessage, .addToBatchMessage
{
	color: #696969;
}
.dupItemErrorMessage, .opBoxErrorMessage, .addToBatchErrorMessage
{
	color: #993300;
	font-weight: bold;
}

.gCVE
{
	/*background-color: #ff9999;*/
	background-color: #FF9F9F;
}

.pageTitle
{
	/*font-size: larger;*/
	font-weight: bold;
}

.hideElement
{
	display: none;
	visibility: hidden;
}
.invisibleElement
{
	visibility: hidden;
}

.renderReadOnly 
{
	color:Navy;
}

/* For Sliding Tabs 
	Tabs are 27px tall. Images are twice that (54px) and either show the top half or bottom half
	depending on if its the current tab or now
	The a css class centers the text in the table and gives it a border

*/
	#headerTab {
		float: left;
		width: 100%;
		height: 37px; /* Give the tab a little head room. Same backgroupd color as image */
		/*background:lightyellow url("../images/tab-horizontal-bg.gif") repeat-x bottom;*/
		border-bottom: 2px solid #969696;
		font-size: 93%;
		line-height: normal;
		margin-bottom: 5px;
	}
	#headerTab ul {
		margin: 10px 0 0 0; /* indent tabs  */
		padding: 0 0 0 10px;
		list-style-type: none;
		height: 27px;
		width: 90%;
	}
	#headerTab li {
		float: left;
		display: inline;
		height: 27px;
		/*background:url("../images/tab-left.gif") no-repeat left top; */
		background-color: #cacaca;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		border-top: 1px solid #858585;
		border-right: 1px solid #858585;
		border-bottom: 1px solid #858585;
		border-left: 1px solid #858585;
		margin: 0;
		padding: 0 0 0 0px;
		width: auto;
	}
	#headerTab li:hover {
		background-color: #eee;
	}
	#headerTab a {
		display: inline-block;
		/*background: url("../images/tab-right.gif") no-repeat right top; */
		height: 17px;
		padding: 5px 15px 5px 15px;
		text-decoration: none;
		font-weight: bold;
		color: #765;
	}
    #headerTab a:hover {
		color: #333; 
    }
    #headerTab .current {
		border-bottom: 1px solid #fff;
		background-color: #fff !important;
    }
    #headerTab .current a {
		color:#333;
		padding-bottom:5px;
    }
    .gvtable th
    {
    	background-color: #d3d3a3;
    	color: Navy;
    	font-weight: normal;
    }
#pagingNavBar td
{
	
	background-color: #000 !important;
	color: #fff !important;
}