set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go


CREATE PROCEDURE [dbo].[sp_security_list_users_search]
  @xmlSortCriteria text = NULL,
  @maxRows int = -1,
  @startRow int = 0,
  @printDebugMsgs bit = 0
AS
  SET NOCOUNT ON
  
  DECLARE @intPageNo int
  DECLARE @intSkippedRows int
  DECLARE @intXMLDocHandle int
  DECLARE @strXMLDoc varchar(8000)
  DECLARE @intTempFilterCol int
  DECLARE @strTempFilterCriteria varchar(500)
  DECLARE @intTempSortCol int
  DECLARE @intTempSortDir int
  DECLARE @strTempSortDir varchar(4)
  DECLARE @strFields varchar(4000)
  DECLARE @strPK varchar(100)
  DECLARE @strTables varchar(4000)
  DECLARE @intPageSize int
  DECLARE @blnGetRecordCount bit
  DECLARE @blnUseFT bit 
  DECLARE @strFTColumn varchar(8000)
  DECLARE @strFTFilter varchar(8000)
  DECLARE @strFilter varchar(8000)
  DECLARE @strSortCols varchar(1000)
  DECLARE @strSort varchar(8000)
  DECLARE @strGroup varchar(8000)
  DECLARE @firstIndex int, @lastIndex int, @totalLength int
  DECLARE @blnUseSecUserPriv bit
  DECLARE @strSecUserPrivIDs varchar(500)
  DECLARE @blnUseSecGroupPriv bit
  DECLARE @strSecGroupPrivIDs varchar(500)
  
  SET @strXMLDoc = @xmlSortCriteria
  EXEC sp_xml_preparedocument @intXMLDocHandle OUTPUT, @strXMLDoc

  IF (@maxRows = 0) 
    SET @intPageNo = CEILING(CONVERT(float, @startRow)/CONVERT(float, 1))
  ELSE
    SET @intPageNo = CEILING(CONVERT(float, @startRow)/CONVERT(float, COALESCE(@maxRows, 1)))

  SET @intSkippedRows = @maxRows * (@intPageNo - 1)
  SET @blnUseFT = 0
  SET @strFTColumn = ''
  SET @strFTFilter = ''
  SET @strPK = 'u.[ID]'
  SET @blnUseSecUserPriv = 0
  SET @blnUseSecGroupPriv = 0

	/*=================================================================================================
	Sniff to see if we need to do a full-text search
	=================================================================================================*/
	DECLARE myCursor CURSOR FOR 
	SELECT FilterCol, FilterCriteria
	FROM OPENXML (@intXMLDocHandle, '/Root/Filter/Parameter')
	WITH
	(
		FilterID int '@FilterID',
		FilterCol int '@intColOrdinal',
		FilterCriteria varchar(1000) 'text()'
	)
	WHERE FilterCriteria IS NOT NULL AND LEN(FilterCriteria) > 2 AND (FilterCol = -400 OR FilterCol BETWEEN 400 AND 499)
	ORDER BY FilterID
	OPEN myCursor
	FETCH NEXT FROM myCursor INTO @intTempFilterCol, @strTempFilterCriteria

	SET @strFTColumn = (
	CASE @intTempFilterCol
	WHEN -400 THEN '*'
	WHEN 400 THEN 'Column_Name_1'
	WHEN 401 THEN 'Column_Name_2'
	END)

	IF (LEN(COALESCE(@strFTColumn, '')) > 0) SET @blnUseFT = 1

	WHILE @@FETCH_STATUS = 0
	BEGIN

		IF (LEN(@strFTFilter) > 0) SET @strFTFilter = @strFTFilter + ' '
		SET @strFTFilter = @strFTFilter + @strTempFilterCriteria

		FETCH NEXT FROM myCursor INTO @intTempFilterCol, @strTempFilterCriteria

	END
	CLOSE myCursor
	DEALLOCATE myCursor


	/*=================================================================================================
	Sniff to see if we need to do a special table join
	=================================================================================================*/
	DECLARE myCursor CURSOR FOR 
	SELECT FilterCol, FilterCriteria
	FROM OPENXML (@intXMLDocHandle, '/Root/Filter/Parameter')
	WITH
	(
	FilterID int '@FilterID',
	FilterCol int '@intColOrdinal',
	FilterCriteria varchar(1000) 'text()'
	)
	WHERE FilterCriteria IS NOT NULL AND FilterCol BETWEEN 100 AND 199
	ORDER BY FilterID
	OPEN myCursor
	FETCH NEXT FROM myCursor INTO @intTempFilterCol, @strTempFilterCriteria

	WHILE @@FETCH_STATUS = 0
	BEGIN

		IF @intTempFilterCol = 100 AND Len(@strTempFilterCriteria) > 0
		BEGIN
			SET @blnUseSecUserPriv = 1
			SET @strSecUserPrivIDs = @strTempFilterCriteria
		END
		ELSE IF @intTempFilterCol = 101 AND Len(@strTempFilterCriteria) > 0 
		BEGIN
			SET @blnUseSecGroupPriv = 1
			SET @strSecGroupPrivIDs = @strTempFilterCriteria
		END

		FETCH NEXT FROM myCursor INTO @intTempFilterCol, @strTempFilterCriteria

	END
	CLOSE myCursor
	DEALLOCATE myCursor

  /*=================================================================================================
  Set fields to be returned (SELECT statement)
  =================================================================================================*/
  SET @strFields = 'u.[ID], '
  IF (@blnUseFT = 1) SET @strFields = @strFields + 'KEY_TBL.RANK As Rank, '
  IF (@blnUseFT = 0) SET @strFields = @strFields + '0 As Rank, '
  SET @strFields = @strFields + '
      u.GUID,
      u.Email_Address,
      u.UserName,
      u.Enabled,
      u.Last_Name,
      u.First_Name,
      u.Organization,
      u.Department,
      u.Job_Title,
      u.Office_Location,
      u.Gender,
      u.Date_Created,
      u.Date_Last_Modified
'

  IF (@printDebugMsgs = 1) PRINT 'SELECT ' + @strFields


  /*=================================================================================================
  Set tables to be accessed (FROM statement)
  =================================================================================================*/
  SET @strTables = 'Security_User u WITH (NOLOCK) '
  IF (@blnUseFT = 1) SET @strTables = @strTables + 'INNER JOIN CONTAINSTABLE (Security_User, ' + @strFTColumn + ', ''' + @strFTFilter + ''') As KEY_TBL ON u.[ID] = KEY_TBL.[KEY] '
  IF (@blnUseSecUserPriv = 1) SET @strTables = @strTables + 'INNER JOIN (Select Distinct User_ID From Security_User_Privilege Where Privilege_ID IN (' + @strSecUserPrivIDs + '))sup On u.ID = sup.User_ID '
  IF (@blnUseSecGroupPriv = 1) SET @strTables = @strTables + 'INNER JOIN (Select Distinct User_ID From Security_User_Group Where Group_ID IN (' + @strSecGroupPrivIDs + '))sug On u.ID = sug.User_ID '
  IF (@printDebugMsgs = 1) PRINT 'FROM ' + @strTables

  SET @intPageSize = @maxRows
  SET @blnGetRecordCount = 1
  SET @strFilter = ''


  /*=================================================================================================
  Set filter parameters (WHERE clause)
  =================================================================================================*/
  DECLARE myCursor CURSOR FOR 
    SELECT FilterCol, FilterCriteria
    FROM OPENXML (@intXMLDocHandle, '/Root/Filter/Parameter') 
    WITH
    (
      FilterID int '@FilterID',
      FilterCol int '@intColOrdinal',
      FilterCriteria varchar(1000) 'text()'
    )
    ORDER BY FilterID

  OPEN myCursor
  FETCH NEXT FROM myCursor INTO @intTempFilterCol, @strTempFilterCriteria
  WHILE @@FETCH_STATUS = 0
  BEGIN

	SET @strTempFilterCriteria = LTRIM(RTRIM(Coalesce(@strTempFilterCriteria, '')))
    IF (LEN(@strFilter) > 0) SET @strFilter = @strFilter + ' AND '

	IF LEN(@strTempFilterCriteria) > 0
	BEGIN
		SET @strFilter = @strFilter + 
		(CASE @intTempFilterCol
		  WHEN 0 THEN 'u.[ID] IN (' + @strTempFilterCriteria + ')'
		  WHEN 1 THEN 'u.[UserName] LIKE ''' + @strTempFilterCriteria +''''
		  WHEN 2 THEN 'u.[Last_Name] LIKE ''' + @strTempFilterCriteria +''''
		  WHEN 3 THEN 'u.[First_Name] LIKE ''' + @strTempFilterCriteria +''''
		  WHEN 4 THEN 'u.[Organization] LIKE ''' + @strTempFilterCriteria +''''
		  WHEN 5 THEN 'u.[Email_Address] LIKE ''' + @strTempFilterCriteria +''''
		  WHEN 6 THEN 'u.[Department] LIKE ''' + @strTempFilterCriteria +''''
		  WHEN 7 THEN 'u.[Job_Title] LIKE ''' + @strTempFilterCriteria +''''
		  WHEN 8 THEN 'u.[Office_Location] LIKE ''' + @strTempFilterCriteria +''''
		  WHEN 9 THEN 'u.[Enabled] = ' + @strTempFilterCriteria
		  
		  -- Today
		  WHEN 20 THEN '(COALESCE(DATEDIFF(dd, getDate(), u.Date_Created), 0) = 0)'
		  WHEN 21 THEN '(COALESCE(DATEDIFF(dd, getDate(), u.Date_Last_Modified), 0) = 0)'
		  WHEN 22 THEN '(COALESCE(DATEDIFF(dd, getDate(), u.Start_Date), 0) = 0)'
		  WHEN 23 THEN '(COALESCE(DATEDIFF(dd, getDate(), u.End_Date), 0) = 0)'
		  -- This Week
		  WHEN 30 THEN '(COALESCE(DATEDIFF(wk, getDate(), u.Date_Created), 0) = 0)'
		  WHEN 31 THEN '(COALESCE(DATEDIFF(wk, getDate(), u.Date_Last_Modified), 0) = 0)'
		  WHEN 32 THEN '(COALESCE(DATEDIFF(wk, getDate(), u.Start_Date), 0) = 0)'
		  WHEN 33 THEN '(COALESCE(DATEDIFF(wk, getDate(), u.End_Date), 0) = 0)'
		  -- This Month
		  WHEN 40 THEN '(COALESCE(DATEDIFF(mm, getDate(), u.Date_Created), 0) = 0)'
		  WHEN 41 THEN '(COALESCE(DATEDIFF(mm, getDate(), u.Date_Last_Modified), 0) = 0)'
		  WHEN 42 THEN '(COALESCE(DATEDIFF(mm, getDate(), u.Start_Date), 0) = 0)'
		  WHEN 43 THEN '(COALESCE(DATEDIFF(mm, getDate(), u.End_Date), 0) = 0)'
		  -- On or After
		  WHEN 50 THEN 'u.[Date_Created]       >= ''' + @strTempFilterCriteria +''''
		  WHEN 51 THEN 'u.[Date_Last_Modified] >= ''' + @strTempFilterCriteria +''''
		  WHEN 52 THEN 'u.[Start_Date]         >= ''' + @strTempFilterCriteria +''''
		  WHEN 53 THEN 'u.[End_Date]           >= ''' + @strTempFilterCriteria +''''
		  -- On or Before
		  WHEN 60 THEN 'u.[Date_Created]       <= ''' + @strTempFilterCriteria +''''
		  WHEN 61 THEN 'u.[Date_Last_Modified] <= ''' + @strTempFilterCriteria +''''
		  WHEN 62 THEN 'u.[Start_Date]         <= ''' + @strTempFilterCriteria +''''
		  WHEN 63 THEN 'u.[End_Date]           <= ''' + @strTempFilterCriteria +''''
		  -- Yesterday
		  WHEN 70 THEN '(COALESCE(DATEDIFF(dd, getDate(), u.Date_Created), 0) = -1)'
		  WHEN 71 THEN '(COALESCE(DATEDIFF(dd, getDate(), u.Date_Last_Modified), 0) = -1)'
		  WHEN 72 THEN '(COALESCE(DATEDIFF(dd, getDate(), u.Start_Date), 0) = -1)'
		  WHEN 73 THEN '(COALESCE(DATEDIFF(dd, getDate(), u.End_Date), 0) = -1)'
		  -- Last Week
		  WHEN 80 THEN '(COALESCE(DATEDIFF(wk, getDate(), u.Date_Created), 0) = -1)'
		  WHEN 81 THEN '(COALESCE(DATEDIFF(wk, getDate(), u.Date_Last_Modified), 0) = -1)'
		  WHEN 82 THEN '(COALESCE(DATEDIFF(wk, getDate(), u.Start_Date), 0) = -1)'
		  WHEN 83 THEN '(COALESCE(DATEDIFF(wk, getDate(), u.End_Date), 0) = -1)'
		  -- Last Month
		  WHEN 90 THEN '(COALESCE(DATEDIFF(mm, getDate(), u.Date_Created), 0) = -1)'
		  WHEN 91 THEN '(COALESCE(DATEDIFF(mm, getDate(), u.Date_Last_Modified), 0) = -1)'
		  WHEN 92 THEN '(COALESCE(DATEDIFF(mm, getDate(), u.Start_Date), 0) = -1)'
		  WHEN 93 THEN '(COALESCE(DATEDIFF(mm, getDate(), u.End_Date), 0) = -1)'

		  -- 400 series is reserved for FT Searching (See Above)
		  WHEN 500 THEN 'KEY_TBL.RANK = ''' + @strTempFilterCriteria + ''''
		  ELSE '1 = 1'
		END)
	END

    FETCH NEXT FROM myCursor INTO @intTempFilterCol, @strTempFilterCriteria

  END
  CLOSE myCursor
  DEALLOCATE myCursor

  IF (@printDebugMsgs = 1) PRINT 'WHERE ' + @strFilter


  /*=================================================================================================
  Set sort parameters (ORDER BY clause)
  =================================================================================================*/
  SET @strSort = ''
  DECLARE myCursor CURSOR FOR 
    SELECT SortCol, SortDir
    FROM OPENXML (@intXMLDocHandle, '/Root/Sort/Parameter') 
    WITH
    (
      SortID int '@SortID',
      SortCol int '@intColOrdinal',
      SortDir int '@intDirection'
    )
    ORDER BY SortID

  OPEN myCursor
  FETCH NEXT FROM myCursor INTO @intTempSortCol, @intTempSortDir
  WHILE @@FETCH_STATUS = 0
  BEGIN
    SET @strTempSortDir = 'ASC'
    IF (@intTempSortDir = 1) SET @strTempSortDir = 'DESC'
    IF (LEN(@strSort) > 0) SET @strSort = RTRIM(@strSort) + ', '
    SET @strSort = @strSort + 
    (CASE @intTempSortCol
      WHEN 0 THEN 'u.UserName ' + @strTempSortDir
      WHEN 1 THEN 'u.Last_Name ' + @strTempSortDir
      WHEN 2 THEN 'u.First_Name ' + @strTempSortDir
      WHEN 3 THEN 'u.Organization ' + @strTempSortDir
      WHEN 4 THEN 'u.Email_Address ' + @strTempSortDir
      WHEN 5 THEN 'u.Date_Last_Modified ' + @strTempSortDir
      WHEN 6 THEN 'u.Date_Created ' + @strTempSortDir
      WHEN 7 THEN 'u.[ID] ' + @strTempSortDir
      WHEN 8 THEN 'u.Department ' + @strTempSortDir
      WHEN 9 THEN 'u.Job_Title ' + @strTempSortDir
      WHEN 10 THEN 'u.Office_Location ' + @strTempSortDir
      WHEN 11 THEN 'u.Gender ' + @strTempSortDir
      ELSE ''
    END)
    FETCH NEXT FROM myCursor INTO @intTempSortCol, @intTempSortDir
  END
  CLOSE myCursor
  DEALLOCATE myCursor
  
  SET @strSort = REPLACE(@strSort, ',,', '')

  IF (@printDebugMsgs = 1) PRINT 'ORDER BY ' + @strSort


  /*=================================================================================================
  Set grouping parameters (GROUP BY clause)
  =================================================================================================*/
  SET @strGroup = ''


  /*=================================================================================================
  Run it!
  =================================================================================================*/

  EXEC sys_returnPagedData_usingTop 
    @strFields, 
    @strPK, 
    @strTables, 
    @intPageNo, 
    @intPageSize, 
    @blnGetRecordCount, 
    @strFilter, 
    @strSort, 
    @strGroup,
    @printDebugMsgs

  IF (@printDebugMsgs = 1) PRINT '  EXEC sys_returnPagedData_usingWith
    ''' + @strFields + ''', 
    ''' + @strPK + ''', 
    ''' + REPLACE(@strTables, '''', '''''') + ''', 
    ' + CONVERT(varchar(10), @intPageNo) + ', 
    ' + CONVERT(varchar(10), @intPageSize) + ', 
    ' + CONVERT(varchar(1), @blnGetRecordCount) + ', 
    ''' + @strFilter + ''', 
    ''' + @strSort + ''', 
    ''' + @strGroup + ''', 
    ' + CONVERT(varchar(1), @printDebugMsgs)    

  EXEC sp_xml_removedocument @intXMLDocHandle    







