body, td, th, p, blockquote, li {
font-family : tahoma, sans-serif;
font-size : 8pt; 
}

.mainmenu {
color: white;
padding: 1px;
padding-left: 30px;	
}

.mainmenusub1 {
color: white;
padding: 1px;
padding-left: 35px;	
}

a.mainmenulnk, a:link.mainmenulnk, a:visited.mainmenulnk {
text-decoration: none;
cursor: pointer;
color: white;
}

a:hover.mainmenulnk, a:active.mainmenulnk {
text-decoration: underline;
cursor: pointer;
color: white;
}
